<strong> Olá, {{ student }}</strong>
<p> Sua pergunta foi repondida pela equipe gympoint. Seguem os dados da pergunta e respectiva resposta abaixo: </p>
<p> <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Pergunta feita em : </strong> {{ question_date }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  </strong>Respondida em : </strong> {{ answer_date}}
</p>
